<div class="container">
<h1>Tasks :</h1>
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <% @tasks.each do |task| %>
          <li class="list-group-item">
            <%= link_to task.title, task_path(task) %> | <%= link_to "Delete", task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
